.row{width: auto;}

h1, h2, h3, h4, h5, h6, p, pre, ul, ol  {list-style:none;}

body {margin: 0; font-family: 'Droid Sans', sans-serif; color: #555; position: absolute; top: 0; left: 0; bottom: 0; right: 0px; overflow-y: scroll; overflow-x: hidden; }

header{background: #222222; padding-top: 10px;}

header h1{color: white; margin: 0; font-size: 30px;}
#placa-name, #board-img{padding-bottom: 15px; background-color: #13A7C7; }
#placa-name h1, #placa-name  h3{color: white;}

#thanks, #picture, #video{padding: 20px 90px;}

#picture, #video{background: whitesmoke;}

#thanks p{font-size: 21px; text-align: justify; }

.lupa {background: url("http://torquatalia.com.br/static/images/lupa.gif") no-repeat; width: 67px; height: 30px; display: inline-block; position: relative; top: 3px; left: 10px; }

.linha {
    padding: 20px 0 45px;
    border-bottom: 2px solid #ffffff;
}

.scrollbar::-webkit-scrollbar { width: 10px; height: 10px;}
.scrollbar::-webkit-scrollbar-button {  background-color: #FFFFFF; }
.scrollbar::-webkit-scrollbar-track {  background-color: #E9B2B2;}
.scrollbar::-webkit-scrollbar-track-piece { background-color: #ededed;}
.scrollbar::-webkit-scrollbar-thumb { height: 30px; background-color: #d3d3d3;}
.scrollbar{overflow-x:hidden; overflow-y:scroll; }

.list-board li { float: left; width: 164px; height: 200px; text-align: center; cursor: move; border: 1px solid #CCC; background: white; padding: 10px; margin-bottom: 15px; margin-left: 6px; }
.list-board li:hover{-moz-box-shadow: 2px 3px 13px #4f6075; -webkit-box-shadow: 2px 3px 13px #4f6075; box-shadow: 2px 3px 13px #4f6075;}

.card img{border: 1px solid  #CCC;padding: 5px;width: 143px;height: 143px;}
.card a h5{font-size: 15px;margin-top: 0px;margin-bottom: 5px;}

.album img {
border: 1px solid #CCC;
padding: 5px;
width: 158px;
height: 125px;
}

.connected, .sortable, .exclude, .handles { margin: auto; padding: 0; width: auto; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

li.disabled {opacity: 0.5; }
li.highlight {background: #FEE25F; }
li.sortable-placeholder {border: 2px dashed #CCC; background: none; }*/



h2.nome-placa:focus{background-color: white;}


.bg-user {background: white; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; height: 484px; }
.bg-placa {background: white; border: solid 1px #e6e6e6; margin: 0 0 22px 0; padding: 20px; min-height: 235px; max-height: 472px;}



.album-modal a img {margin-bottom: 4px; max-width: 159px; max-height: 120px; }

.card.album {
float: left;
margin-right: 20px;
text-align: center;
}
