<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>WOnPlate</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/style.css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/jquery.fancybox.css">

  <script src="{{ MEDIA_URL }}javascripts/modernizr.foundation.js"></script>

</head>
<body>
  <!-- Navigation -->


  <header>
    <div class="row">
      <div class="four columns">
        <a href="{% url "core.views.homepage" %}"><h1>OnPlates</h1></a>

      </div>

      <div class="three columns">
        <div class="row collapse" id="search-form">
          <div class="ten mobile-three columns">
            <input type="text" placeholder="Faça sua busca aqui"/>
          </div>
          <div class="two mobile-one columns">
            <span class="postfix"><a href="" class="lupa"></a></span>
          </div>
        </div>

      </div>


      <div class="four columns">
        <a class="small button right" href="/">Login</a>
      </div>

    </div>
  </header>



  <!-- End Navigation -->

  <section id="placa-name">
    <div class="row">
      <div class="twelve columns">
        <h1 class="text-center title">{{ place.team_name }}</h1>
        <h3 class="text-center subtitle">{{ place.course.name }}</h3>
      </div>
    </div>
  </section>

  <section id="board-img">
    <div class="row">
      <div class="twelve columns">
      <div class="bg-placa scrollbar">
        <ul class="connected sortable list-board ">
          {% for student in place.formings.all %}
          <li>
              <div class="card">
                <a href="modal-card" data-reveal-id="modal-card">
                    <img src="{{ MEDIA_URL }}{{ student.img_perfil }}" />
                    <h5>{{ student.name }}</h5>
                </a>
              </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      </div>
    </div>
  </section>

  <section id="thanks">
    <div class="row">
      <div class="twelve columns">
        {% for blockText in place.textblock_set.all %}
        <h3>{{ blockText.name }}</h3>
        <p>{{ blockText.text_area }}</p>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="picture">
    <div class="row">
      <div class="twelve columns">
          {% for album in place.album_set.all %}
            <h3>Álbuns</h3>
            <h5>{{ album.name }}</h5>
              {% for photos in album.photo_set.all %}
                <div class="card album">
                  <a class="fancybox" rel="gallery1" href="{{ MEDIA_URL }}{{ photos.img }}">
                      <img src="{{ MEDIA_URL }}{{ photos.img }}" alt="" />
                  </a>
                </div>
            {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>

   <section id="video">
    <div class="row">
      <div class="twelve columns">
        <h3>Videos</h3>
        {% for videos in place.video_set.all %}
        <div class="card album">
          <a href="/">
              {{ videos.url|safe }}
              <h5>{{ videos.name }}</h5>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>





  <!-- Included JS Files (Compressed) -->

   <script src="{{ MEDIA_URL }}javascripts/jquery.js"></script>
   <script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="{{ MEDIA_URL }}javascripts/app.js"></script>
  <script src="{{ MEDIA_URL }}javascripts/sortable.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.fancybox.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.mousewheel-3.0.6.pack.js"></script>

  <script>
    $(function() {
      $('.sortable').sortable();
      $('.handles').sortable({
        handle: 'span'
      });
      $('.connected').sortable({
        connectWith: '.connected'
      });
      $('.exclude').sortable({
        items: ':not(.disabled)'
      });
    });

    $(document).ready(function() {
      $("#buttonForModal").click(function() {
        $("#modal-card-").reveal();

      });
    });

    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect	: 'none',
            closeEffect	: 'none'
        });
    });
  </script>
</body>
</html>
