<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>WOnPlate</title>

    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->

    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/foundation.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/style.css">
    <link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/jquery.fancybox.css">

    <script src="{{ MEDIA_URL }}javascripts/modernizr.foundation.js"></script>

</head>
<body>
<!-- Navigation -->


<header>
    <div class="row">
        <div class="four columns">
            <a href="{% url "core.views.homepage" %}"><h1>OnPlates</h1></a>

        </div>

        <div class="three columns">
            <div class="row collapse" id="search-form">
                <div class="ten mobile-three columns">
                    <input type="text" placeholder="Faça sua busca aqui"/>
                </div>
                <div class="two mobile-one columns">
                    <span class="postfix"><a href="" class="lupa"></a></span>
                </div>
            </div>

        </div>


        <div class="four columns">
            <a class="small button right" href="/">Login</a>
        </div>

    </div>
</header>



<!-- End Navigation -->

<section id="placa-name">
    <div class="row">
        {% for place in places %}
        <a href="{% url "core.views.placeIntern" place.id %}">
        <div class="twelve columns">
            <div class="linha">
                {% for student in place.formings.all|slice:":4" %}
                        <div class="card">
                                <img style="float: left" src="{{ MEDIA_URL }}{{ student.img_perfil }}" />
                        </div>
                {% endfor %}
                <h1 class="text-center title">{{ place.team_name }}</h1>
                <h3 class="text-center subtitle">{{ place.course.name }}</h3>
            </div>
        </div>
        </a>
        {% endfor %}
    </div>
</section>


<!-- Included JS Files (Compressed) -->

<script src="{{ MEDIA_URL }}javascripts/foundation.min.js"></script>

<!-- Initialize JS Plugins -->
<script src="{{ MEDIA_URL }}javascripts/app.js"></script>
<script src="{{ MEDIA_URL }}javascripts/sortable.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.fancybox.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascripts/jquery.mousewheel-3.0.6.pack.js"></script>

<script>
    $(function() {
        $('.sortable').sortable();
        $('.handles').sortable({
            handle: 'span'
        });
        $('.connected').sortable({
            connectWith: '.connected'
        });
        $('.exclude').sortable({
            items: ':not(.disabled)'
        });
    });

    $(document).ready(function() {
        $("#buttonForModal").click(function() {
            $("#modal-card-").reveal();

        });
    });

    $(document).ready(function() {
        $(".fancybox").fancybox({
            openEffect  : 'none',
            closeEffect : 'none'
        });
    });
</script>
</body>
</html>
